/.vscode/*
/scripts/*
/test/*

.editorconfig
.gitattributes
.gitignore
.travis.yml
appveyor.yml
banner.js
circle.yml
CHANGELOAD.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
README.md
rollup.config.js
tsconfig.json
tsconfig.test.json
tslint.json
yarn-error.log
yarn.lock